

nav{
    /* border-bottom: solid 1px black; */
    box-shadow: 0px 2px 10px #a1a1a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    padding: 0px 20px;
}

.divSelect{
    display: flex;
    gap: 5px;
}

.divSelect select{
    width: 200px;
    border-radius: 5px;
}

.registerDiv{
    display: flex;
    gap: 20px;
}

.logoImage{
    margin-top: 20px;
    max-width: 220%;
    max-height: 220%;

}

/* nav img{
    height: 400px;
    width: auto;
} */